@charset "UTF-8";

body{
    background-color: #F8F8F8;
}

.row{
    background-color: #FFF;
    
    margin: auto;
    padding: 35px 8px;

    border-radius: 20px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.115);
}

.col-md-6 a{
    color: #222;
    text-decoration: none;
    transition: .3s;
}

.col-md-6 a:hover{
    color: #6C63FF;
    text-decoration: underline;
}

.col-md-6 h2{
    font-weight: 900;
}

.form-floating input{
    border: none;
    border-bottom: 2px solid #CCC;
    border-radius: 0;
}

.form-floating input:focus{
    outline: none;
    box-shadow: none;
    border-color: #CCC;
}

.btn{
    background-color: #6C63FF;
    border-color: #6C63FF;
}

.btn:hover{
    background-color: #5b52ff;
    border-color: #5b52ff;
}

.btn:active, 
.btn:focus{
    background-color: #544dcf !important;
    border-color: #544dcf !important;
    box-shadow: none !important;
}

.form-check-label a{
    color: #6C63FF;
}

form .row{
    box-shadow: none;
    background-color: none;
}